---
interface Props {
  title: string;
  description: string;
  pathname: string;
  image?: string;
  publishedTime?: string;
  type?: 'website' | 'article';
}

const {
  title,
  description,
  pathname,
  image = '/og-image.png',
  publishedTime,
  type = 'website',
} = Astro.props

const siteUrl = 'https://naeeswrites.com'
const url = `${siteUrl}${pathname}`
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content={type} />
<meta property="og:url" content={url} />
<meta property="og:image" content={image} />
<meta property="og:site_name" content="NaeesWrites" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
{publishedTime && <meta property="article:published_time" content={publishedTime} />}
<link rel="canonical" href={url} />
